<!DOCTYPE html>
<html>
<head>
    <title>Analyze Playlist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% include 'navbar.html' %}  <!-- Include the navbar -->
    <div class="container">
        <h1>Analyze Playlist</h1>
        <form action="{{ url_for('analyze_playlist') }}" method="post">
            <input type="text" name="playlist_url" placeholder="Enter Spotify Playlist URL" class="input-box">
            <button type="submit" class="button"><strong>Analyze</strong></button>
        </form>
    </div>
</body>
</html>
