<!-- templates/index.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Spotify Playlist Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% include 'navbar.html' %}  <!-- Include the navbar -->
    <div class="container">
        <h1>Spotify Playlist Analyzer</h1>
        <p>Explore and analyze your Spotify playlists.</p>
        <a href="{{ url_for('login') }}" class="button">Login with Spotify</a>
        <a href="{{ url_for('analyze_playlist') }}" class="button">Analyze with Spotify URL</a>
    </div>
</body>
</html>
