<!DOCTYPE html>
<html>
<head>
    <title>Playlist Detail</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% include 'navbar.html' %}  <!-- Include the navbar -->
    <div class="container">
        <h1>Playlist Analysis for <span class="detail-name"><a href="{{ playlist_external_urls }}" class="playlist-link" target="_blank">{{ playlist_name }}</a></span></h1>

        <!-- Display the cover image -->
        <a href="{{ playlist_external_urls }}" class="playlist-link" target="_blank">
            <img src="{{ cover_image_url }}" alt="Playlist Cover" class="playlist-cover with-shadow">
        </a>
        <h2>Artist Count</h2>
        <div class="analysis-box">
            <ul>
                {% for artist, count in artist_counts.items() %}
                <li><span class="detail-name">{{ artist }}</span>: {{ count }}</li>
                {% endfor %}
            </ul>
        </div>
        <h2>Track Popularity</h2>
        <div class="analysis-box">
            <ul>
                {% for track_name, popularity in sorted_track_popularity %}
                <li>{{ track_name }} <span class="detail-name">(Popularity: {{ popularity }}</span>)</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
