<!DOCTYPE html>
<html>
<head>
    <title>My Playlists</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% include 'navbar.html' %}  <!-- Include the navbar -->
    <div class="container">
        <div class="user-profile"> <!-- TODO why is the pfp blurry ugh -->
            {% if user_profile_picture %}
            <img src="{{ user_profile_picture }}" alt="Profile Picture">
            {% endif %}
        </div>
        <h1><span class="detail-name">{{ user_display_name }}'s</span> Playlists</h1>
        <ul>
            {% for playlist_name in playlist_names %}
            <li><a href="{{ url_for('playlist_detail', playlist_name=playlist_name) }}">{{ playlist_name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
